<img src="/assets/images/burger.png" alt="cartoon burger image">
<h1>Welcome to Burger Muncher!</h1>

<p>Once you type in the kind of burger you want, click "Submit".</p>

<form action="/" method="post" placeholder>
    <p>
        <textarea name="burger_name" cols="30" rows="5"></textarea>
    </p>
    <button type="submit">Submit</button>
</form>