<img src="../public/assets/images/burger.png" alt="cartoon burger image">
<h1>Welcome to Burger Muncher!</h1>

<p>Once you type in the kind of burger you want, click "Submit".</p>

<form action="/" method="post">
    <textarea name="burger_name" cols="30" rows="5"></textarea>
    <br><button type="submit">Submit</button>
</form>